<!--TODO: send a list of specs chosen back to quart
    TODO: use js? to change the table for specs chosen, or just maybe rerender page
    TODO: sql filter search bar
    TODO: would be nice if specs were in order of how common they were-->
<!DOCTYPE html>
<html>
<head>
  <title>{{ query[0]|upper }}{{ query[1:] }} Search Results</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/search.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('input[type="checkbox"]').click(function() {
        console.log("checked");
        const specs = {};
        $('input[type="checkbox"]').each(function() {
          if ($(this).is(':checked')) {
            specs[$(this).attr('id')] = 1;
          }
        });
        console.log(specs)
        $.ajax({
          url: '/filter',
          type: 'GET',
          data: specs,
          success: function(data) {
            console.log(data)
          }
        })
      });
    });
  </script>

</head>
<body style="background-color: #ebfaff">
  <div class="container my-5">

    <form action="/search" method="get">
      <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search for a different product">
      </div>
    </form>

    <form>
      <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Enter in SQL Commands to Filter (DOES NOTHING CURRENTLY)">
      </div>
    </form>

    <div class="table-container">
      <!-- SPECS TABLE -->
        <table class="left-table">
          <thead>
            <tr>
              <th><input type="submit" value="Submit"></th>
            </tr>
          </thead>
          <tbody>
            {% if specs %}
            {% for spec in specs %}
              <tr>
                <td><input type="checkbox" name="specs" value="{{ spec }}" id="{{ spec }}"></td>
                <td>{{ spec|replace('_', ' ') }}</td>
              </tr>
            {% endfor %}
          {% else %}
              <p>no results found</p>
          {% endif %}
          </tbody>
        </table>
      <!-- PRODUCT TABLE -->
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody>
            {% if products %}
            {% for prod in products %}
            <tr>
              <td><a href={{prod.url}}>{{prod.name}}</a></td>
              <td>None Chosen</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>No results found.</p>
            {% endif %}
        </tbody>
      </table>

    </div>
  </div>
  <div id="content"></div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  </html>