<!--TODO: sql filter search bar
    TODO: would be nice if specs were in order of how common they were-->
<!DOCTYPE html>
<html>
<head>
  <title>{{ query }} - NGSearch</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/search.css">
  <link rel="icon" href="static/NGSearchLogo.jpg">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('input[type="checkbox"]').click(function() {
        console.log("checked");
        const selectedSpecs = {};
        $('input[type="checkbox"]').each(function() {
          if ($(this).is(':checked')) {
            selectedSpecs[$(this).attr('id')] = 1;
          }
        });
        console.log(selectedSpecs)
        $.ajax({
          url: '/filter',
          type: 'GET',
          data: selectedSpecs,
          success: function(data) {
            innerHTML = "";
            for (product of data.products) {
              innerHTML += '<tr><td>';
              innerHTML += `<a href="${product.url}">${product.name}</a></td><td>`;
              for (let i = 0; i < data.specs.length; i++) {
                if (product.specs[i] != null) {
                  innerHTML += `<b>${data.specs[i]}</b>: ${product.specs[i]}<br>`;
                }
              }
              innerHTML.slice(0, -4);
              innerHTML += "</td></tr>";
            }
            $("#product-table").html(innerHTML);
          }
        })
      });
    });
  </script>

</head>
<body style="background-color: #d8f4fe">
  <div class="container my-5">

    <form action="/search" method="get">
      <div class="form-group">
        <input type="text" class="form-control" name="query" placeholder="Search for a different product">
      </div>
    </form>

    <div class="table-container">
      <!-- SPECS TABLE -->
        <table class="left-table">
          <thead>
            <tr>
              <th>Select Specs</th>
            </tr>
          </thead>
          <tbody>
            {% if specs %}
            {% for spec in specs %}
              <tr>
                <td><input type="checkbox" name="specs" value="{{ spec }}" id="{{ spec }}"></td>
                <td>{{ spec|replace('_', ' ') }}</td>
              </tr>
            {% endfor %}
          {% else %}
              <p>no results found</p>
          {% endif %}
          </tbody>
        </table>
      <!-- PRODUCT TABLE -->
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Specs</th>
          </tr>
        </thead>
        <tbody id="product-table">
            {% if products %}
            {% for prod in products %}
            <tr>
              <td><a href={{prod.url}}>{{prod.name}}</a></td>
              <td class={{prod.url[30:]}}></td>
            </tr> 
            {% endfor %}
            {% else %}
            <p>No results found.</p>
            {% endif %}
        </tbody>
      </table>

    </div>
  </div>
  <div id="content"></div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
  </html>